.play-on-hover {
  width: 450px;
  height: 200px;
  background-image: url(/assets/images/taxi.png);
  background-size: cover;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 10px 20px -5px #ccc;
}

.play-on-hover:hover {
  background-image: url(/assets/images/taxi.gif);
}